/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Mixins and Extends
=====================================*/
header:after, header div:after {
  content: "";
  display: table;
  clear: both; }

/* Backgrounds
=====================================*/
/* border-colors:
=====================================*/
/* pseudo class colors:
=====================================*/
/* pseudo class colors:
=====================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 30px black;
  background: rgba(255, 255, 255, 0.2); }
  header img {
    float: left;
    height: 70px;
    width: 105px; }
  header h1 {
    float: left;
    font-size: 2.5em;
    margin-left: 1em;
    line-height: 70px;
    vertical-align: middle;
    color: black;
    font-family: 'Julius Sans One', sans-serif; }
  header a {
    margin-right: 1em;
    line-height: 70px;
    font-size: 1em;
    vertical-align: middle;
    color: white;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Julius Sans One', sans-serif; }
    header a:hover {
      color: black; }
  header div {
    display: inline-block;
    float: right;
    margin-right: 1em; }

h2 {
  font-size: 2.5em;
  font-family: 'Julius Sans One', sans-serif; }

/* Id's
=====================================*/
#imageWrap {
  position: fixed;
  z-index: -10;
  top: 0; }
  #imageWrap img {
    width: 100%;
    height: auto; }

#portfolio {
  background: white;
  margin-top: 100vh;
  text-align: center; }
  #portfolio a {
    font-size: 0;
    margin: 1.5em; }
  #portfolio img {
    width: 450px;
    height: auto;
    box-shadow: 10px 10px 5px grey;
    background-color: #D8810A;
    border: 1px solid grey; }
    #portfolio img:hover {
      opacity: 0.4;
      filter: alpha(opacity=40);
      /* For IE8 and earlier */
      cursor: pointer; }

#heading {
  position: fixed;
  top: 12em;
  left: 0;
  right: 0;
  color: black;
  text-align: center;
  z-index: -1; }
  #heading h1 {
    color: white;
    display: inline;
    padding: .2em 1em .2em 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.5em;
    font-size: 2.5em;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    box-shadow: 0 10px 30px black; }

/* Class
=====================================*/
.sectionTitles {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 2.5em;
  font-weight: bold; }
  .sectionTitles h2 {
    display: inline; }

.portfolioImgs {
  margin: 1.5em;
  display: inline-block; }

/* Animations
=====================================*/

/*# sourceMappingURL=application.css.map */
