/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Mixins and Extends
=====================================*/
header:after, #left:after, .fullSize a:after, .mobileSize a:after {
  content: "";
  display: table;
  clear: both; }

/* Backgrounds
=====================================*/
/* border-colors:
=====================================*/
/* pseudo class colors:
=====================================*/
/* pseudo class colors:
=====================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 30px black;
  background: rgba(255, 255, 255, 0.2);
  z-index: 10; }

h2 {
  font-size: 2.5em;
  font-family: 'Vollkorn', serif; }

p {
  font-size: 1.2em;
  text-align: justify;
  text-indent: 25px;
  margin-bottom: 1em; }

/* Id's
=====================================*/
#imageWrap {
  position: fixed;
  z-index: -10;
  top: 0; }
  #imageWrap img {
    width: 100%;
    height: auto; }

#portfolio {
  background: white;
  text-align: center; }
  #portfolio a {
    font-size: 0;
    margin: 1.5em; }

#about {
  position: relative;
  color: white;
  text-align: center;
  background-color: black;
  padding-bottom: 4em;
  position: relative; }
  #about img {
    float: right;
    border: 1px solid white;
    margin: 0 0 1.5em 1.5em; }

#contact {
  position: relative;
  text-align: center;
  background-color: white;
  padding-bottom: 4em; }

#left {
  display: inline-block; }

/* Class
=====================================*/
.heading {
  position: fixed;
  top: 12em;
  left: 0;
  right: 0;
  color: black;
  text-align: center;
  z-index: -1; }
  .heading h1 {
    color: white;
    display: inline;
    padding: .2em 1em .2em 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.5em;
    font-size: 3em;
    font-family: 'Playball', cursive;
    box-shadow: 0 10px 30px black; }

.sectionTitles {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 2.5em;
  font-weight: bold;
  margin-bottom: 2em; }
  .sectionTitles .white {
    border-bottom: 3px solid black; }
  .sectionTitles .black {
    border-bottom: 3px solid white; }
  .sectionTitles h2 {
    display: inline;
    padding-left: 2em;
    padding-right: 2em; }

.portfolioImgs {
  margin: 1.5em;
  display: inline-block;
  padding-bottom: 5em; }
  .portfolioImgs img {
    width: 450px;
    height: auto;
    box-shadow: 10px 10px 5px grey;
    border: 1px solid grey; }
    .portfolioImgs img:hover {
      opacity: 0.4;
      filter: alpha(opacity=40);
      /* For IE8 and earlier */
      cursor: pointer; }

.blackArrow {
  background-image: url(../images/blackArrow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 20px; }

.whiteArrow {
  background-image: url(../images/whiteArrow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 20px; }

.yellowArrow {
  background-image: url(../images/yellowArrow.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 20px; }

.textWrap {
  width: 70%;
  margin-left: auto;
  margin-right: auto; }

.triggerFade {
  opacity: 0; }

.fullPicture {
  position: relative; }
  .fullPicture img {
    width: 100%;
    height: auto;
    display: block; }

.fullSize img {
  float: left;
  height: 70px;
  width: 105px; }
.fullSize h1 {
  float: left;
  font-size: 2.5em;
  margin-left: 1em;
  line-height: 70px;
  vertical-align: middle;
  color: black;
  font-family: 'Vollkorn', serif; }
.fullSize a {
  margin-right: 1em;
  line-height: 70px;
  font-size: 1em;
  vertical-align: middle;
  color: white;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  display: inline-block;
  float: right; }
  .fullSize a:hover {
    color: black; }

.mobileSize {
  display: none;
  text-align: center; }
  .mobileSize img {
    height: 70px;
    width: 105px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .mobileSize h1 {
    font-size: 2.5em;
    line-height: 70px;
    vertical-align: middle;
    color: black;
    font-family: 'Vollkorn', serif; }
  .mobileSize a {
    line-height: 70px;
    font-size: 1em;
    vertical-align: middle;
    color: white;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    margin-right: 1em; }
    .mobileSize a:hover {
      color: black; }

.backgroundDim {
  display: block;
  background-color: black;
  padding-left: .5em;
  padding-right: .5em;
  margin-bottom: 1em; }

.mobileSize {
  display: none;
  box-shadow: none;
  background: none; }
  .mobileSize #right {
    margin-right: 0; }
  .mobileSize a {
    padding-top: .5em;
    padding-bottom: .5em;
    line-height: 1.5em; }
    .mobileSize a:hover {
      color: grey; }

/* Media Queries 
=====================================*/
@media (max-width: 760px) {
  #keyboard1 {
    display: none; }

  .fullSize {
    display: none; }

  .heading {
    display: none; }

  .mobileSize {
    display: inline-block; }

  .portfolioImgs {
    width: 80%;
    padding-bottom: 2em; }
    .portfolioImgs img {
      width: 100%; }

  .sectionTitles h2 {
    padding-right: 1em;
    padding-left: 1em;
    font-size: 2em; } }

/*# sourceMappingURL=application.css.map */
