// =============================
// Base Styles
// =============================
header {
	//background: linear-gradient(#B1B3A8, white, white);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	@extend %clearfix;
	box-shadow:0 10px 30px black;
	background:rgba(255, 255, 255, .2);
	z-index:10;
}

h2 {
	font-size:2.5em;
	font-family: 'Vollkorn', serif;
}

p {
	font-size:1.2em;
	text-align:justify;
	text-indent:25px;
	margin-bottom:1em;
}

/* Id's
=====================================*/

#imageWrap {
	position: fixed;
	z-index: -10;
	top:0;

	img{
		width:100%;
		height:auto;
	}
}

#portfolio {
	background:white;
	//margin-top:100vh; take care of by javascript
	text-align:center;

	a {
		font-size:0;
		margin:1.5em;
	}
}

#about {
	position:relative;
	color:white;
	text-align:center;
	background-color: black;
	padding-bottom:4em;
	position:relative;
	z-index:-1;

	img {
		float:right;
		border:1px solid white;
		margin:0 0 1.5em 1.5em;
	}
}

#contact {
	position:relative;
	text-align:center;
	background-color: white;
	padding-bottom:4em;
	z-index:-1;
}



#left {
	@extend %clearfix;
	display:inline-block;
}


/* Class
=====================================*/

.heading {
	position:fixed;
	top:12em;
	left:0;
	right:0;
	color:black;
	text-align:center;
	z-index:-1;
	h1 {
		color:white;
		display:inline;
		padding:.2em 1em .2em 1em;
		background-color:rgba(0, 0, 0, 0.5);
		border-radius:1.5em;
		font-size:3em;
		font-family: 'Playball', cursive;
		box-shadow:0 10px 30px black;
	}
}
.sectionTitles {
	text-align:center;
	padding-top:5em;
	padding-bottom:2.5em;
	font-weight:bold;
	margin-bottom:2em;
	.white {
		border-bottom: 3px solid black;
	}
	.black {
		border-bottom: 3px solid white;
	}
	h2 {
		display:inline;
		padding-left:2em;
		padding-right:2em;
	}
}

.portfolioImgs {
	margin:1.5em;
	display:inline-block;
	padding-bottom:5em;
	img {
		width:450px;
		height:auto;
		box-shadow:10px 10px 5px grey;
		border:1px solid grey;

		&:hover {
			opacity: 0.4;
    		filter: alpha(opacity=40); /* For IE8 and earlier */
    		cursor:pointer;
		}
	}
}

.blackArrow {
	background-image:url(../images/blackArrow.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-20px;
	width:40px;
	height:20px;
}

.whiteArrow {
	background-image:url(../images/whiteArrow.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-20px;
	width:40px;
	height:20px;
}

.yellowArrow {
	background-image:url(../images/yellowArrow.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-20px;
	width:40px;
	height:20px;
}

.textWrap {
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.triggerFade {
	opacity:0;
}

.fullPicture {
	position:relative;
	img {
		width: 100%;
		height:auto;
		display:block;
	}
}

.fullSize {
	img {
		float:left;
		height:70px;
		width:105px;
	}

	h1 {
		float:left;
		font-size: 2.5em;
		margin-left:1em;
		line-height: 70px;
		vertical-align: middle;
		color:black;
		font-family: 'Vollkorn', serif;
	}

	a {
		margin-right: 1em;
		line-height: 70px;
		font-size:1em;
		vertical-align: middle;
		color:white;
		font-weight:900;
		text-decoration:none;
		text-transform: uppercase;
		font-family: 'Playfair Display', serif;
		@extend %clearfix;
		display:inline-block;
		float:right;
		&:hover {
			color:black;
		}
	}
} //end fullSize

.mobileSize {
	display:none;
	text-align: center;
	img {
		height:70px;
		width:105px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	h1 {
		font-size: 2.5em;
		line-height: 70px;
		vertical-align: middle;
		color:black;
		font-family: 'Vollkorn', serif;
	}

	a {
		line-height: 70px;
		font-size:1em;
		vertical-align: middle;
		color:white;
		font-weight:900;
		text-decoration:none;
		text-transform: uppercase;
		font-family: 'Playfair Display', serif;
		@extend %clearfix;
		display:inline-block;
		margin-right:1em;
		&:hover {
			color:black;
		}
	}	
}//end mobile size

.backgroundDim {
	display:block;
	background-color:rgba(0, 0, 0, 1);
	
	padding-left:.5em;
	padding-right:.5em;
}



/* Media Queries 
=====================================*/
@media (max-width:760px) {
	#keyboard1 {
		display:none;
	}

	.fullSize {
		display:none;
	}

	.mobileSize {
		display:inline-block;
		#right {
			margin-right:0;
		}
		a {
			line-height: 1.5em;
		}
	}

	.heading {
		display:none;
	}
	
	
	
} //end 760 media

