// =============================
// Base Styles
// =============================
header {
	//background: linear-gradient(#B1B3A8, white, white);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	@extend %clearfix;
	box-shadow:0 10px 30px black;
	background:rgba(255, 255, 255, .2);
	z-index:10;
}

h2 {
	font-size:2.5em;
	font-family: 'Vollkorn', serif;
}

p {
	font-size:1.2em;
	text-align:justify;
	margin-bottom:1em;
}



/* Id's
=====================================*/

#imageWrap {
	position: fixed;
	z-index: -10;
	top:0;

	img{
		width:100%;
		height:auto;
	}
}

#portfolio {
	background:white;
	//margin-top:100vh;
	text-align:center;

	a {
		font-size:0;
		margin:1.5em;
	}
}

#about {
	position:relative;
	color:white;
	text-align:center;
	background-color: black;
	padding-bottom:4em;
	position:relative;

	img {
		margin-right:auto;
		margin-left:auto;
		margin-bottom:4em;
		border:1px solid white;
	}
}

#contact {
	right:0;
	left:0;
	position:absolute;
	text-align:center;
	background-color: white;
	padding-bottom:4em;
}



#left {
	@extend %clearfix;
	display:inline-block;
}

#lg {
	display:relative;
}

#sm {
	display:none;
}

#centerTable {
	list-style-position:inside;
	li {
		text-align:center;
	}
}



/* Class
=====================================*/
.email {
	font-size:1.1em;
	font-weight:bold;
}
.table td {
	list-style-type:disc;
}

.center-text {
	text-align:center;	
}


.title {
	color:#CE885E;
	font-size:1.1em;
}
.clear {
	clear:both;
}

.experience {
	line-height:1.4em;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:1em;
	h3 {
		line-height: 1.4em;
		color:#CE885E;
		font-size:2em;
		margin-bottom:1em;
		margin-top:1.5em;
	}
	ol {
		list-style-type:disc;
		li {
			text-align:left;
			font-size:1.2em;
			padding-bottom:5px;
			padding-top:5px;
		}
	}
}

.heading {
	position:fixed;
	// for animation
	top:12em;
	left:0;
	right:0;
	color:black;
	text-align:center;
	z-index:-1;
	h1 {
		color:white;
		display:inline;
		padding:.2em 1em .2em 1em;
		background-color:rgba(0, 0, 0, 0.5);
		border-radius:1.5em;
		font-size:3em;
		font-family: 'Playball', cursive;
		// box-shadow:0 10px 30px black;
	}
}
.sectionTitles {
	text-align:center;
	padding-top:5em;
	padding-bottom:2.5em;
	font-weight:bold;
	margin-bottom:2em;
	.white {
		border-bottom: 3px solid black;
	}
	.black {
		border-bottom: 3px solid white;
	}
	h2 {
		display:inline;
		padding-left:2em;
		padding-right:2em;
	}
}

.portfolioImgs {
	margin:1.5em;
	display:inline-block;
	padding-bottom:5em;
	img {
		width:450px;
		height:auto;
		box-shadow:10px 10px 5px grey;
		border:1px solid grey;

		&:hover {
			opacity: 0.4;
    		filter: alpha(opacity=40); /* For IE8 and earlier */
    		cursor:pointer;
		}
	}
}

.blackArrow {
	background-image:url(../images/blackArrow.png);
	@include arrows;
}

.arrow-sm {
	background-image:url(../images/downArrowsSm.png);
	@include arrows;
	display:none;
}
.whiteArrow {
	background-image:url(../images/whiteArrow.png);
	@include arrows;
}

.yellowArrow {
	background-image:url(../images/yellowArrow.png);
	@include arrows;
}

.textWrap {
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.triggerFade {
	opacity:0;
}

.fullPicture {
	position:relative;
	img {
		width: 100%;
		height:auto;
		display:block;
	}
}

.fullSize {
	img {
		float:left;
		height:70px;
		width:105px;
	}

	h1 {
		float:left;
		font-size: 2.5em;
		margin-left:1em;
		line-height: 70px;
		vertical-align: middle;
		color:black;
		font-family: 'Vollkorn', serif;
	}

	a {
		margin-right: 1em;
		line-height: 70px;
		font-size:1em;
		vertical-align: middle;
		color:white;
		font-weight:900;
		text-decoration:none;
		text-transform: uppercase;
		font-family: 'Playfair Display', serif;
		@extend %clearfix;
		display:inline-block;
		float:right;
		&:hover {
			color:black;
		}
	}
} //end fullSize

.mobileSize {
	display:none;
	text-align: center;
	img {
		height:70px;
		width:105px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	h1 {
		font-size: 2.5em;
		line-height: 70px;
		vertical-align: middle;
		color:black;
		font-family: 'Vollkorn', serif;
	}

	a {
		line-height: 70px;
		font-size:1em;
		vertical-align: middle;
		color:white;
		font-weight:900;
		text-decoration:none;
		text-transform: uppercase;
		font-family: 'Playfair Display', serif;
		@extend %clearfix;
		display:inline-block;
		margin-right:1em;
		&:hover {
			color:black;
		}
	}	
}//end mobile size

.backgroundDim {
	display:block;
	background-color:rgba(0, 0, 0, 1);
	padding-left:.5em;
	padding-right:.5em;
	margin-bottom:1em;
}

.mobileSize {
	display:none;
	box-shadow:none;
	background:none;
	#right {
		margin-right:0;
	}
	a {
		padding-top:.5em;
		padding-bottom:.5em;
		line-height: 1.4em;
		&:hover {
			color:grey;
		}
	}
}



/* Media Queries 
=====================================*/
@media (max-width:760px) {
	#keyboard1 {
		display:none;
	}

	.fullSize {
		display:none;
	}

	.heading {
		display:none;
	}

	.mobileSize {
		display:inline-block;
	}

	.portfolioImgs {
		 width:80%;
		 padding-bottom:2em;
		 img {
		 	width:100%;
		 }

	}

	.sectionTitles h2 {
		padding-right:1em;
		padding-left:1em;
		font-size:2em;
	}

	#sm {
		display:block;
	}

	#lg {
		display:none;
	}

	.yellowArrow {
		display:none;
	}

	.arrow-sm {
		display:inline-block;
	}
} //end 760 media

@media (max-width: 500px) {
	.experience {
		width:100%;
	}
}


