// ==================================
// Global Config variables
// ==================================
//$background-color--container:#3F3F3F;

/* Mixins and Extends
=====================================*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* Backgrounds
=====================================*/



/* border-colors:
=====================================*/




/* pseudo class colors:
=====================================*/

/* pseudo class colors:
=====================================*/

