// ==================================
// Global Config variables
// ==================================
//$background-color--container:#3F3F3F;

/* Mixins and Extends
=====================================*/
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin arrows {
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-20px;
	width:40px;
	height:20px;
}


/* Backgrounds
=====================================*/



/* border-colors:
=====================================*/




/* pseudo class colors:
=====================================*/

/* pseudo class colors:
=====================================*/

